*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    font-family: barlow condensed;
}
.logo{
    background-color: white ;
    width: 50vw;
    height: 300px;
    float: left;
}
.image{
    width:90px;
    height: 90px;
    position:absolute;
    top:40px;
    left:40px;
}
.icon{
    background-color: rgb(196, 196, 196);
    width: 50vw;
    height: 300px;
    float:right;
    position: absolute;
    left:500px;
    
}


.imageone{
    position: absolute;
    top:293px;
    display:  block;

}
.button1{
    font-size: 40px;
    color: white;
    background-color:black;
    position: absolute;
    top: 800px;
    left: 60px;
    display: block;
    padding: 10px;
    border-radius:35px;

}
.one{
    color: grey;
    display: block;
    position: absolute;
    top: 825px;
    left:240px;
    font-size: 30px;
    letter-spacing: 2.5px;
}
h1{
    position: absolute;
    top:895px;
    left:60px;
    font-size: 50px;
    line-height: 65px;
}
.paratwo{
    position: absolute;
    top:1050px;
    left: 60px;
    font-size: 30px;
    color: grey;
}
header{
    display: none;
}
.button2{
    position:absolute;
    top: 1200px;
    left:60px;
    padding: 20px;
    background-color: rgb(255, 71, 71);
    color: white;
    font-size: 25px;
    border:none;
    border-radius: 15px;

}
.parathree{
    color: grey;
    display: block;
    position: absolute;
    top: 1230px;
    left:340px;
    font-size: 23px;
    letter-spacing: 2.5px;

}
.fa-bars{
    position: absolute;
    top:40px;
    left:300px;
    
}

@media screen and (min-width: 1024px)
 {
   
    .bars{
        display:none;
    }
    
    .icon{
        top:0;
        left: 830px;
        float: right;
        width: 40vw;
        height: 400px;
        border-radius: 25px;
    }
    .image{
        position: absolute;
        top:45px;
        height: 40px;
        width: 40px;
        left:150px;
    }
    .logo{
        height: 200px;
    }
    .imageone{
        width: 49vw;
        height: 400px;
        float:right;
        display:flex;
        justify-content:flex-end;
        position: absolute;
        right:-100px;
        top: 200px;
    }
    .button1{

        top: 190px;
        left: 150px;
        padding: 5px;
        font-size: 30px;
    }
    .one{
        top: 205px;
        left: 250px;
        font-size: 20px;

    }
    h1{
    top: 260px;
    left:150px;
    font-size: 60px;
    letter-spacing: 8px;
    }
    .paratwo{
        top:410px;
        left:150px;
        font-size: 20px;

    }
    .button2{
        top:500px;
        left:150px;

    }
    .parathree{
        top:525px;
        left:350px;
        font-size: 20px;

    }
    header{
        display: block;
        position: absolute;
        top:30px;
        left: 850px;
    
    }
    ul{
        list-style: none;
        margin: 10px;
     }
     li{
         display: inline-flex;
         justify-content: space-between;
         margin:3px 15px;
         font-size: 18px;
         font-weight: 250px;
        
     }
     .grey{
         color: grey;
     }
     
        
        
    

    
     
}


